@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header_social {
  background-color: #000;
  width: 100%;
  padding: 0.5rem;
}
.header_social .header_social_bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header_social .header_social_bg div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header_social .header_social_bg div:hover {
  transform: scale(110%);
}
.header_social .header_social_bg div a {
  color: #fff;
  text-decoration: none;
}
.header_social .header_social_bg div a:link {
  color: #fff;
}
.header_social .header_social_bg div a:hover {
  transform: scale(110%);
}
.header_social .header_social_bg div img {
  width: 15px;
  filter: invert(100%);
}

.acercaDe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  margin-bottom: 2rem;
  /* background-image: linear-gradient(rgba(5, 7, 12,0.50),rgba(5, 7, 12, 0.50)); */
}
.acercaDe__portada {
  text-align: center;
}
.acercaDe__portada h1 {
  font-size: 4rem;
  color: #333333;
}
.acercaDe__portada h4 {
  opacity: 0.7;
  font-weight: 400;
  color: #393939;
}
.acercaDe__resume {
  position: relative;
  width: 75%;
  margin-top: 4rem;
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 40px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  z-index: 996;
  max-width: 1200px;
  color: #393939;
}

.separator {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 4rem;
  padding: 2rem 0;
  background-color: #fff;
  position: relative;
  z-index: 995;
  color: #393939;
}
.separator div {
  flex-grow: 1;
  height: 2px;
  border-bottom: 2px solid #333333;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  padding: 0.5rem;
  /* margin-right: 1rem; */
  width: 8.3rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.btn:hover {
  transform: scale(110%);
}

.main h2 {
  text-align: center;
  font-size: 4rem;
  color: #333333;
}
.main__fullstack h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
  background-color: #fff;
  position: relative;
  z-index: 995;
}
.main__fullstack .main__fullstackProjects .contentProject {
  position: relative;
  overflow: hidden;
  box-shadow: 0px -10px 80px black;
  z-index: 990;
}
.main__fullstack .main__fullstackProjects .contentProject .bg-img {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  object-fit: contain;
}
.main__fullstack .main__fullstackProjects .contentProject .bg {
  background-image: linear-gradient(rgba(5, 7, 12, 0.8), rgba(5, 7, 12, 0.8));
  /* box-shadow: 0px 0px 5px 5px white; */
  color: #fff;
  position: relative;
  z-index: 990;
  padding: 4rem 4rem;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__resume {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  z-index: 995;
  max-width: 1200px;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__resume h3 {
  margin: 1rem 0;
  font-size: 3rem;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__resume p {
  width: 75%;
  margin: 0 auto;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__resume div {
  margin: 1rem 0;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__resume div h4 {
  margin: 0.5rem 0;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__resume div img {
  width: 50px;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__images {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 60%;
  padding: 2rem;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__images button {
  background-color: transparent;
  border: none;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__images button img {
  width: 40px;
  filter: invert(100%);
  cursor: pointer;
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__images button img:hover {
  transform: scale(110%);
}
.main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__images img {
  width: 95%;
  /* box-shadow: 0 1rem 3rem rgba(black, .50); */
}
.main__fullstack .main__fullstackProjects .contentProject .bg--invert {
  flex-direction: row-reverse;
}
.main__fullstack .main__fullstackProjects .contentProject .contentProject > .bg:hover {
  transform: scale(110%);
}

@media screen and (max-width: 991px) {
  .acercaDe__portada h1 {
    font-size: 10vw;
  }
  .acercaDe__portada h4 {
    font-size: 4vw;
    padding: 0 0.5rem;
  }
  .acercaDe__resume {
    width: 90%;
  }
  .main h2 {
    font-size: 7vw;
  }
  .main .main__fullstack .main__fullstackProjects .contentProject .bg-img {
    width: auto;
    height: 100%;
  }
  .main .main__fullstack .main__fullstackProjects .contentProject .bg {
    padding: 4rem 0;
  }
  .main .main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth {
    flex-direction: column;
  }
  .main .main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__resume {
    width: 100%;
  }
  .main .main__fullstack .main__fullstackProjects .contentProject .bg .backgroundWidth .contentProject__images {
    justify-content: center;
    width: 70%;
    padding: 2rem 0;
  }
  .btn {
    width: 8.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
